#NotFound {
    color: white;
    font-size: 20px;
}
body {
    height: 100vh;
    width: 100vw;
}
.searchbox {
    padding-top: 20px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    max-width: 300px;
    flex-wrap: wrap;
    text-align: center;
    
    
}
.contain {
    width: 100%;
    display: flex;
    justify-content: center;

}