.content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 60px;
}
body {
    height: 100vh;
    width: 100vw;
}
button {
    height: 100px;
    width: 300px;
    border-radius: 15px ;
    border-style: none;
    background-color: black;
    color: wheat;
    font-size: 30px;
    content: "Launch";
}