body {
    height: 100vh;
    width: 100vw;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url(img/background.png);
    background-repeat: repeat;
    background-position: center,center;
}

.icon {
    height: 40px;
}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: flex-start;
}

.nav-bar {
    background-color: rgb(190, 238, 131);
    padding: 1px;
    padding-left: 10px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    font-size: 30px;
}

.links {
    display: flex;
    gap: 20px;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    font-size: 20px;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add a default border to the li element */
    border: 2px solid transparent; /* Or any other default color */
    
}

li:hover {
    border-color: rgb(197, 192, 192); /* Changes only the color on hover */
    border-radius: 14px;
    
}