body {
    background: linear-gradient(90deg, rgb(14, 30, 30), rgb(30, 78, 58));
    background-attachment: fixed; 
    background-size: 100% 100%;   
    background-repeat: no-repeat; 
    min-height: 100vh;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:
		linear-gradient(rgba(255, 255, 255, 0.03) 3px, transparent 1px),
		linear-gradient(90deg, rgba(255, 255, 255, 0.03) 3px, transparent 1px);
	background-size: 60px 60px;
	z-index: -99;
	pointer-events: none;
}

body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -98;
	pointer-events: none;
}